.cards-list {
	padding-inline: var(--p-il);
}

.card {
	border-bottom: 1px solid var(--clr-n-200);
	padding-bottom: 1.125rem;
	margin-bottom: 1.125rem;
	display: flex;
	flex-direction: column;
	gap: 1.1875rem;

	&__image {
		width: 100%;
		aspect-ratio: 3/4;
		border-radius: var(--br-s);
		overflow: hidden;

		img {
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__text {
		flex: 1;
	}

	&__location {
		display: flex;
		flex-direction: column;
		// align-items: center;
		font-size: var(--fs-100);
		text-transform: uppercase;
		margin-bottom: 0.25rem;

		.country {
			display: flex;
			align-items: center;
		}

		img {
			margin-right: 0.5rem;
			width: 0.7rem;
		}

		a {
			text-transform: none;
			color: var(--clr-p-200);
		}
	}

	&__title {
		font-size: var(--fs-200);
		font-weight: 800;
		margin-bottom: 0.75rem;
	}

	&__date {
		font-weight: 800;
		margin-bottom: 0.5rem;
		line-height: 1.2;
		display: flex;
		flex-wrap: wrap;

		.start-date {
			&::after {
				content: "\2014";
				margin-inline: 0.5rem;
			}
		}
	}
}

@media (min-width: 750px) {
	.card {
		flex-direction: row;
		align-items: center;

		&__image {
			width: min(90%, 9.1825rem);
		}

		&__location {
			flex-direction: row;

			a {
				margin-left: 0.75rem;
			}
		}

		&__date {
			display: flex;

			.start-date {
				&::after {
					content: "\2014";
					margin-inline: 0.5rem;
				}
			}
		}
	}
}
