header {
	background-color: var(--clr-p-100);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: var(--p-il);
	height: 3.4375rem;
	margin-bottom: 2.8175rem;
	color: var(--clr-n-100);
	font-size: var(--fs-200);
    gap: .625rem;
}
